<div id="<%= dom_id board %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= board.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= board.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= board.website %>
  </p>

</div>
