<div id="<%= dom_id board %>">
<div class="card border">
  <div class="card-body">
    <h2 class="flex justify-between">
      <div class="card-title">
        <%= lucide_icon("layout-dashboard") %>
        <%= board.appname %>
      </div>
    </h2>
    <small class="italic">lumetrika.com</small>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="divider divider-neutral">features
      <span class="badge badge-outline">60</span>
    </div>
    <div class="card-actions justify-start">
      <div class="badge badge-outline">Open: 12</div>
      <div class="badge badge-outline">Interesting: 12</div>
      <div class="badge badge-outline">Closed: 12</div>
      <div class="badge badge-outline">In-Development: 12</div>
      <div class="badge badge-outline">Closed: 12</div>
    </div>
  </div>
</div>
</div>
