<div class="w-full h-80 border rounded flex flex-col justify-center items-center gap-5">
  <h2 class="text-xl font-semibold">This board has no features yet.</h2>
  <p>Start adding and manage your board with sharing the public or add new features.</p>
  <%= button_to 'New Features', root_path, class: 'btn btn-ghost' %>
</div>
