<div class="flex flex-col justify-center items-center gap-10">
  <div class="prose flex flex-col justify-center items-center">
    <h2><%= @board.appname %> || <%= @board.company %></h2>
    <p class="text-center">ðŸ‘‹ We value your input! Share your feature requests to help us improve our software.</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1fr_auto_auto_auto] gap-3 w-full items-center">
    <input type="text" name="query" class="input input-bordered w-full col-span-1 md:col-span-1" placeholder="ðŸ” Start typing to search features...">
    <select class="select select-primary w-full md:w-auto col-span-1 md:col-span-1">
      <option disabled selected>Filter</option>
      <option>Trending</option>
      <option>New</option>
      <option>Most Liked</option>
      <option>Most Comments</option>
    </select>
    <select class="select select-secondary w-full md:w-auto col-span-1 md:col-span-1">
      <option disabled selected>Label</option>
      <option>Open</option>
      <option>Interesting</option>
      <option>In-Development</option>
      <option>Shipped!</option>
      <option>Closed</option>
    </select>
    <button class="btn btn-primary w-full md:w-auto col-span-1 md:col-span-1">Suggest <%= lucide_icon('plus') %></button>
  </div>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">
    <% @features.each do |feature| %>
      <%= render 'feature', feature: feature  %>
    <% end %>
  </div>
</div>
